@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

body { 
    height: 100vh;
    background: #15202e;
}

.loader {
    position: absolute;
    top: 50%;
    left: 40%;
    margin-left: 10%;
    transform: translate3d(-50%, -50%, 0);
}

.dot {
    width: 24px;
    height: 24px;
    background-color: #3ac;
    border-radius: 100%;
    display: inline-block;
    animation: slide 1s infinite;
    margin-right: 20px;
}

@for $n from 1 through 5 {
    .dot:nth-child(#{$n}) {
        animation-delay: calc(.1s * #{$n});
        background-color: rgba(58, 192, 203, calc(50 * #{$n}));
    }
}

@keyframes slide {
    0% {
        transform: scale(1);
    }
    50% {
        opacity: 0.3;
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}